<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.pkg.name %></title>
</head>
<body>
<i class="fas fa-sync fa-fw fa-spin"></i>
<i class="hidden fas fa-check fa-fw"></i>
<span class="description">in progress ...</span>
</body>
</html>